// TODO: Add some breakpoints for mobile visitors. The site looks terrible on mobile rn
// TODO: Change site to primarily use the secondary color. 
// TODO: Change styling for contact/about page to make contact info the main focus
// TODO: Think of new way to style the porfolio page, it looks a little goofy
// TODO: Make the links in p tags stand out a bit more
// TODO: 

* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    --primary-color: #263238;
    --primary-light: #4f5b62;
    --primary-dark: #000a12;
    --secondary-color: #ffb300;
    --secondary-light: #FFFF6b;
    --secondary-dark: #C5A600;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Source Sans Pro";
    background-color: var(--primary-dark);
    height: 100%;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow: auto;
}

.hidden {
    display: none;
}

// **************
// HEADER STYLING
// **************

header {
    padding: 2rem;
    background-color: var(--primary-color);
    flex: 0 1 auto;
}

header > div.container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 98vw;
}

.logo {
    margin-bottom: 0;
    padding: 0.1rem 0.1rem 0.1rem 0.75rem;
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 3.5rem;
}

.nav {
    display: flex;
    align-items: baseline;
}

header nav ul {
    padding: .5rem 0 0.1rem 0;
    margin: 0;
    clear: left; 
    display: block;
    text-align: right;
}

header nav li {
    list-style-type: none;
    display: inline-block;
    padding-right: 1.5rem;
}

.secondary {
    color: var(--secondary-color);
    font-size: 1.8rem;
}

header nav li a {
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
}

// ************
// BODY STYLING
// ************

.content {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: var(--primary-dark);
    flex: 1 1 auto;
    overflow: hidden;
}

.testdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    height: var(--length);
    width: var(--length);
    border-radius: var(--length);
    animation:
      bounce var(--duration)
      1 both
      var(--cb),
      fade 2s
      ease 7.5s reverse
      1 forwards;
    
}

.W {
    --bounce-offset: -295px;
    --length: 14rem;
    --duration: 5s;
    --cb: cubic-bezier(.2, .65, .6, 1);
}

.E, .C {
    --bounce-offset: -300px;
    --length: 8rem;
    background-color: #18FFFF;
    padding-right: 0.3rem;
    padding-bottom: 0.5rem;
    animation:
      bounce2 var(--duration)
      1 both
      cubic-bezier(.3, .65, .9, 1),
      fade 2s
      ease 7.5s reverse
      1 forwards;
}

.E {
    --duration: 4s;
}

.L, .M{
    --bounce-offset: -290px;
    --length: 11rem;
    background-color: #FF1744;
}

.L {
    --duration: 4s;
    --cb: cubic-bezier(.2, .65, .6, 1);
}

.C {
    --duration: 5s;
}

.M {
    --duration: 4.2s;
    --cb: cubic-bezier(.2, 1.2, .6, 1);
    padding-left: 0.2rem;
    padding-bottom: 0.3rem;
}

.O, .E2 {
    --bounce-offset: -300px;
    --length: 8rem;
    padding-bottom: 0.5rem;
    padding-right: 0.1rem;
}

.O {
    --duration: 2s;
    --cb: cubic-bezier(.2, .65, .6, 1);
}

.E2 {
    --duration: 5s;
    --cb: cubic-bezier(.2, .65, .2, 1);
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(
            var(--bounce-offset)
        );
    }
}

@keyframes bounce2 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-510px);
    }
    100% {
        transform: translateY(
            var(--bounce-offset)
        );
    }
}

.welcometext {
    opacity: 0;
    animation: 
        fade 3s
        ease 4s
        1 forwards;
}

.big {
    font-size: 12rem;
}

.small {
    font-size: 6rem;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.headline {
    display: none;
    opacity: 0;
    animation: 
        fade 3s
        ease
        1 forwards;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 95%;
    min-width: 45%;
    padding: 1rem;
}

.textbar {
    display: none;
    opacity: 0;
    animation: 
        fade 3s
        ease
        1 forwards;
    min-height: 100%;
    min-width: 50%;
}

.textbar .textbox {
    max-width: 80%;
}

// ************
// TEXT STYLING
// ************

h1 {
    color: white;
    font-size: 7rem;
    
}

.headline h1 {
    position: relative;
    left: 18rem;
    top: 3rem;
}

h2 {
    color: white;
    font-size: 5rem;
}

.is {
    font-size: 5rem;
    position: relative;
    left: 10rem;
    top: 1.5rem;
}

p {
    color: white;
    font-size: 2.5rem;
}



.homep {
    position: relative;
    top: 34rem;
    border-style: none solid solid none;
    border-color: var(--secondary-color);
    border-width: 1px;
    padding: 0.5rem;
}

.inlinea {
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
}

.dot {
    color: var(--secondary-color);
}

.logo .dot {
    font-size: 3.5rem;
}

.header .dot {
    font-size: 7rem;
}

// TODO: Decide which colors to use for link accents

a:hover {
    color: #18FFFF;
    // color: var(--secondary-color);
}

a:active {
    color: #003737;
    // color: var(--secondary-dark);
}

// ******************
// ABOUT PAGE STYLING
// ******************

.about {
    display: flex;
    flex-direction: row;
}

.halfpage {
    min-width: 50%;
    min-height: 100%;
    display: flex;
    // background-color: red;
}

.halfpage:not(:first-child) {
    flex-direction: column-reverse;
}

.secsquare {
    width: 55%;
    max-height: 40vh;
    background-color: var(--secondary-color);
    // position: relative;
    // right: 10%;
    // bottom: 30%;
    display: flex;
    flex-direction: column-reverse;
}

.secsquare div {
    padding-left: 1rem;
    line-height: 6rem;
}

.redsquare {
    display: flex;
    background-color: #FF1744;
    width: 150vw;
    height: 45vh;
}

.redsquare div {
    padding: 1rem 0.5rem 0.5rem 2rem;
    max-width: 30%;
}

.redsquare p {
    margin-bottom: 5rem;
}

.contact {
    position: absolute;
    // display: flex;
    // flex-direction: column;
    left: 20%;
    top: 60%;
    width: 28rem;
    height: 3rem;
    padding: 1rem;
    background-color: #18FFFF;
    align-items: center;
    justify-content: center;
    transition: height 5s ease;
}

.contact:hover {
    height: 20rem;
}

.contact p {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.contactinfo li {
    list-style-type: none;
    font-size: 1.8rem;
    line-height: 2.5rem;
    padding: 0.5rem;
}

.contactinfo li em {
    font-size: 1.8rem;
    padding-left: 0.2rem;
}

.contactinfo li a {
    font-size: 1.8rem;
    color: black;
    text-decoration: none;
    padding-left: 0.2rem;
}

.contactinfo li a:hover {
    opacity: .33;
}

.reveal {
    animation: 
        fade 2s
        ease-in
        1 forwards;
}

.disappear {
    animation:
        fadeout 2s
        ease-out
        1 forwards;
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.textbox {
    text-align: left;
}

.darkA {
    font-size: 2.5rem;
    text-decoration: none;
    color: black;
}

.darkA:hover {
    color: #18FFFF;
}

.darkA:active {
    color: #003737;
}

.dark {
    color: black;
}

// *****************
// PORTFOLIO STYLING
// *****************

.third {
    width: 33.3%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pCard {
    display: flex;
    max-width: 60%;
    min-height: 60%;
    padding: 1rem;
    // border-style: solid;
    // border-color: #18FFFF;
    box-shadow: 0px 0px 10px 10px #18FFFF;
    animation: 
        slideIn 2s
        ease
        1 forwards;
}

.slideInRev {
    animation:
        slideInRev 2s 
        ease
        1 forwards;
}

@keyframes slideIn {
    from {
        transform: translateY(-600px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes slideInRev {
    from {
        transform: translateY(600px);
    }
    to {
        transform: translateY(0px);
    }
}

// ******************
// ERROR PAGE STYLING
// ******************

.error {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.four {
    padding: 5rem;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background-color: var(--secondary-color);
}

.four h1 {
    color: black;
}

.errorInfo {
    margin: 2rem 0rem;
}

.linkBox {
    display: flex;
    min-width: 30vw;
    justify-content: space-between;
}

.linkBox a{
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
}

.linkBox a:hover {
    color: #18FFFF;
}

.linkBox a:active {
    color: #003737;
}


// **************
// FOOTER STYLING
// **************


.footer {
    display: flex;
    padding-top: 1rem;
    // margin-top: 1rem;
    height: 2rem;
    background-color: var(--primary-color);
    flex: 0 1 40px;
}

.footer span {
    font-size: 1.3rem;
    color: white;
    padding-left: 1rem;
    padding-right: 0.5rem;
}

.footer a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

.footer a:hover {
    color: var(--secondary-color)
}

.footer a:active {
    color: var(--secondary-dark);
}