// TODO: Add some breakpoints for mobile visitors. The site looks terrible on mobile rn. The about page was a good first attempt into manually adding breakpoints. Try the portfolio page today.

* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    --primary-color: #263238;
    --primary-light: #4f5b62;
    --primary-dark: #000a12;
    --secondary-color: #ffb300;
    --secondary-light: #FFFF6b;
    --secondary-dark: #C5A600;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    background-color: var(--primary-dark);
    height: 100%;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow: auto;
}

.hidden {
    display: none;
}


// **************
// HEADER STYLING
// **************


header {
    padding: 2rem;
    background-color: var(--primary-color);
    flex: 0 1 auto;
}

header > div.container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 98vw;
}

.logo {
    margin-bottom: 0;
    padding: 0.1rem 0.1rem 0.1rem 0.75rem;
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 3.5rem;
}

.nav {
    display: flex;
    align-items: baseline;
}

header nav ul {
    padding: .5rem 0 0.1rem 0;
    margin: 0;
    clear: left; 
    display: block;
    text-align: right;
}

header nav li {
    list-style-type: none;
    display: inline-block;
    padding-right: 1.5rem;
}

.secondary {
    color: var(--secondary-color);
    font-size: 1.8rem;
}

header nav li a {
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
}

// ************
// BODY STYLING
// ************

.content {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: var(--primary-dark);
    flex: 1 1 auto;
    overflow: auto;
}

.index {
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

.testdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    height: var(--length);
    width: var(--length);
    border-radius: var(--length);
    animation:
      bounce var(--duration)
      1 both
      var(--cb),
      fade 2s
      ease 5.5s reverse
      1 forwards;
    
}

.W {
    --bounce-offset: -295px;
    --length: 14rem;
    --duration: 3s;
    --cb: cubic-bezier(.2, .65, .6, 1);
}

.blueBounce {
    --bounce-offset: -300px;
    --length: 8rem;
    background-color: #18FFFF;
    padding-right: 0.3rem;
    padding-bottom: 0.5rem;
    animation:
      bounce2 var(--duration)
      1 both
      cubic-bezier(.3, .65, .9, 1),
      fade 2s
      ease 5.5s reverse
      1 forwards;
}

.E {
    --duration: 3.5s;
}

.L, .M{
    --bounce-offset: -290px;
    --length: 11rem;
    background-color: #FF1744;
}

.L {
    --duration: 3.5s;
    --cb: cubic-bezier(.2, .65, .6, 1);
}

.C {
    --duration: 4s;
}

.M {
    --duration: 3.7s;
    --cb: cubic-bezier(.2, 1.2, .6, 1);
    padding-left: 0.2rem;
    padding-bottom: 0.3rem;
}

.O, .E2 {
    --bounce-offset: -300px;
    --length: 8rem;
    padding-bottom: 0.5rem;
    padding-right: 0.1rem;
}

.O {
    --duration: 2s;
    --cb: cubic-bezier(.2, .65, .6, 1);
}

.E2 {
    --duration: 4s;
    --cb: cubic-bezier(.2, .65, .2, 1);
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(
            var(--bounce-offset)
        );
    }
}

@keyframes bounce2 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(
            var(--navbar-comp)
        );
    }
    100% {
        transform: translateY(
            var(--bounce-offset)
        );
    }
}

.welcometext {
    opacity: 0;
    animation: 
        fade 3s
        ease 4s
        1 forwards;
}

.big {
    font-size: 12rem;
}

.small {
    font-size: 6rem;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.headline {
    display: none;
    opacity: 0;
    animation: 
        fade 3s
        ease
        1 forwards;
    justify-content: flex-start;
    flex-direction: column;
    // min-height: 95%;
    // min-width: 45%;
    padding: 1rem 1rem 1rem 5%;
}

.textbar {
    display: none;
    opacity: 0;
    animation: 
        fade 3s
        ease
        1 forwards;
    min-height: 50%;
    flex-direction: row-reverse;
    align-items: flex-end;
}

.textbox {
    // display: flex;
    // flex-direction: column-reverse;
    max-width: 43%;
    max-height: 50%;
    margin-right: 5rem;
    margin-bottom: 5rem;
}

// ************
// TEXT STYLING
// ************

h1 {
    color: white;
    font-size: 7rem;
    
}

.headline h1 {
    position: relative;
    left: 21%;
    top: 3rem;
}

h2 {
    color: white;
    font-size: 5rem;
}

.to {
    font-size: 5rem;
    position: relative;
    left: 11.5%;
    top: 1.5rem;
}

p {
    color: white;
    font-size: 2.5rem;
}



.homep {
    border-style: none solid solid none;
    border-color: var(--secondary-color);
    border-width: 1px;
    padding: 0.5rem;
}

a {
    font-size: 2.5rem;
    color: var(--secondary-color);
    text-decoration: none;
}

.dot {
    color: var(--secondary-color);
}

.logo .dot {
    font-size: 3.5rem;
}

.header .dot {
    font-size: 7rem;
}

#dev {
    font-size: 7rem;
}

a:hover {
    color: var(--secondary-color);
}

a:active {
    color: var(--secondary-dark);
}


// ********************
// HOME PAGE RESPONSIVE
// ********************


@media only screen and (max-width: 1000px) {

    .textbox {
        max-width: 433px;
        margin: 0rem 2rem 5rem 2rem;
    }

}

@media only screen and (max-width: 700px) {

    .headline h1 {
        left: 15%;
    }

    .big {
        font-size: 7rem;
    }

    .small {
        font-size: 5rem;
    }

    .W {
        --length: 12rem;
    }

    .blueBounce {
        --length: 8rem;
    }

    .L, .M {
        --bounce-offset: -300px;
        --length: 9rem;
        padding: 0rem;
    }

    .M {
        padding-left: 0.2rem;
        padding-bottom: 0.3rem;
    }

    .O, .E2 {
        --bounce-offset: -310px;
        --length: 6rem;
        padding-left: 0.1rem;
        padding-bottom: 0.3rem;
    }

}

@media only screen and (max-width: 600px) {

    .to {
        left: 5%;
    }

    .headline h1 {
        left: 8%;
    }

    .big {
        font-size: 6rem;
    }

    .small {
        font-size: 4rem;
    }

    .W {
        --length: 10rem;
    }

    .blueBounce {
        --length: 6rem;
    }

    .L, .M {
        --bounce-offset: -300px;
        --length: 7rem;
        padding: 0rem;
    }

    .M {
        padding-left: 0.2rem;
        padding-bottom: 0.3rem;
    }

    .O, .E2 {
        --bounce-offset: -310px;
        --length: 5rem;
        padding-left: 0.1rem;
        padding-bottom: 0.3rem;
    }

}

@media only screen and (max-width: 475px) {

    .to, .headline h1 {
        left: 0;
    }

    .headline {
        padding-bottom: 0rem;
    }

    .big {
        font-size: 5rem;
    }

    .small {
        font-size: 4rem;
    }

    .W {
        --bounce-offset: -300px;
        --length: 8rem;
    }

    .blueBounce {
        --bounce-offset: -310px;
        --length: 5rem;
    }

    .L, .M {
        --bounce-offset: -320px;
        --length: 4rem;
        padding: 0rem;
    }

    .M {
        padding-left: 0.2rem;
        padding-bottom: 0.3rem;
    }

    .O, .E2 {
        --bounce-offset: -320px;
        --length: 4rem;
        padding-left: 0.1rem;
        padding-bottom: 0.3rem;
    }
    
}

// ******************
// ABOUT PAGE STYLING
// ******************


.about {
    display: flex;
    flex-direction: row;
}

.thirdPage {
    min-width: 28%;
    min-height: 100%;
    display: flex;
}

.twoThirdPage {
    min-width: 72%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.titleBox {
    max-height: 33vh;
    width: 42%;
    display: flex;
    flex-direction: column-reverse;
}

.aboutTitle {
    border-style: none none none solid;
    border-color: var(--secondary-color);
    border-width: 5px;
    padding: 1rem;
    line-height: 6rem;
    width: fit-content;
}

.textBox {
    margin-left: 5rem;
    margin-right: 1rem;
    padding: 1rem 1rem 1rem 7rem;
    position: relative;
    border-style: none solid solid none;
    border-color: var(--secondary-color);
    border-width: 1px;
}

h3 {
    color: white;
    font-size: 3rem;
    text-align: left;
}

li {
    color: white;
    list-style-type: none;
}

br {
    line-height: 1rem;
}

.contact {
    border-style: solid none none solid;
    border-color: var(--secondary-color);
    border-width: 1px;
    padding: 1rem;
}

.wrapper {
    width: (var(--width));
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 1150px) {
    .thirdPage {
        flex-direction: column;
    }

    .twoThirdPage {
        flex-direction: column-reverse;
        justify-content: end;
    }

    // .titleBox {
    //     // min-height: 33vh;
    // }

    .wrapper {
        margin-top: 5rem;
        margin-bottom: 0rem;
        width: 90vw;
    }

    .contact {
        border-style: none none none solid;
        border-color: var(--secondary-color);
        border-width: 5px;
        margin-bottom: 1.7rem;
    }

    .textBox {
        margin-bottom: 1.7rem;
    }
}

@media only screen and (max-width: 715px) {
    .aboutB {
       min-height: 175vh;
       overflow: auto;
    }

    .twoThirdPage {
        display: none;
    }

    .thirdPage {
        min-width: 100%;
        justify-content: flex-start;
    }

    .textBox {
        margin-top: 2rem;
        margin-left: 3rem;
        padding-left: 2rem;
        margin-right: 3rem;
    }

    .contact {
        margin-top: 1rem;
    }
    
    .titleBox {
        margin-top: 5rem;
        min-height: none;
    }
}

@media only screen and (max-width: 520px) {
    .aboutB {
        min-height: 275vh;
    }
}

em {
    font-size: 1.8rem;
    color: white;
}

.liTag {
    padding-right: 1rem;
    font-size: 2.5rem;
}

li a {
    color: white;
    font-size: 1.8rem;
}


// *****************
// PORTFOLIO STYLING
// *****************


.portfolio {
    display: grid;
    place-items: center;
    overflow: hidden;
}

.cardBox {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    max-width: 100vw;
    min-height: 60%;
    overflow-x: scroll;
    scrollbar-width: none;
    padding-left: 0.5rem;
    padding-right: 1rem;
    padding-top: 1.3rem;
    padding-bottom: 1rem;
    --distance: -4rem;
}

.cardWrapper {
    display: flex;
    padding: 0;
    align-items: center;
}

// .third {
//     min-width: 30vw;
//     min-height: 100vh;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex: 1 1 auto ;
// }

.third:first-child {
    margin-left: 2rem;
}

.third:last-child {
    margin-right: 1.5rem;
}

.pCard {
    display: flex;
    height: 65vh;
    min-width: 30vw;
    margin: 2rem;
    background-color: var(--primary-light);
    padding: 1rem;
    // animation: 
    //     slideIn 3s
    //     ease
    //     1 forwards;
    overflow-y: scroll;
    scrollbar-width: none;
    transition-property: transform, box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.pCard:hover {
    transform: translate(-1rem, -1rem);
    box-shadow: 1.5rem 1.5rem 0 0 var(--primary-color);
}

@keyframes slideIn {
    from {
        transform: translateX(2000px);
    }
    to {
        transform: translateX(0px);
    }
}

@media only screen and (max-width: 1135px) {
    .pCard {
        min-width: 340px;
        max-width: 340px;
    }
}

@media only screen and (max-width: 720px) {
    .pBody {
        max-height: 100vh;
    }

    .cardBox {
        overflow-y: scroll;
        padding-top: 15rem;
    }

    .cardWrapper {
        margin-top: var(--margin);
        max-height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: scroll;
        scrollbar-width: none;
    }

    .pCard {
        margin: 2rem;
        min-width: 85vw;
    }

    .third:first-child {
        margin-left: 0rem;
    }
    
    .third:last-child {
        margin-right: 0rem;
    }
}


// ******************
// ERROR PAGE STYLING
// ******************


.error {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.four {
    margin-top: 5rem;
    padding: 5rem;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background-color: var(--secondary-color);
}

.four h1 {
    color: black;
}

.whoops {
    text-align: center;
    padding: 0rem 2rem;
}

.errorInfo {
    margin: 2rem 2rem;
    text-align: center;
}

.linkBox {
    display: flex;
    min-width: 30vw;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.linkBox a{
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
    padding: 1rem;
}

.linkBox a:hover {
    color: #18FFFF;
}

.linkBox a:active {
    color: #003737;
}


// **************
// FOOTER STYLING
// **************


.footer {
    display: flex;
    padding-top: 1rem;
    // margin-top: 1rem;
    height: 2rem;
    background-color: var(--primary-color);
    flex: 0 1 40px;
}

.footer span {
    font-size: 1.3rem;
    color: white;
    padding-left: 1rem;
    padding-right: 0.5rem;
}

.footer a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

.footer a:hover {
    color: var(--secondary-color)
}

.footer a:active {
    color: var(--secondary-dark);
}