.halfpagev1 {
    min-width: 50%;
    min-height: 100%;
    display: flex;
}

.halfpagev1:not(:first-child) {
    flex-direction: column-reverse;
}

.secsquare {
    width: 55%;
    max-height: 40vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column-reverse;
}

.secsquare div {
    padding-left: 1rem;
    line-height: 6rem;
}

.redsquare {
    display: flex;
    background-color: #FF1744;
    width: 150vw;
    height: 45vh;
}

.redsquare div {
    padding: 1rem 0.5rem 0.5rem 2rem;
    max-width: 30%;
}

.redsquare p {
    margin-bottom: 5rem;
}

.contact {
    position: absolute;
    left: 20%;
    top: 60%;
    width: 28rem;
    height: 3rem;
    padding: 1rem;
    background-color: #18FFFF;
    align-items: center;
    justify-content: center;
    transition: height 5s ease;
}

.contact:hover {
    height: 20rem;
}

.contact p {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.contactinfo li {
    list-style-type: none;
    font-size: 1.8rem;
    line-height: 2.5rem;
    padding: 0.5rem;
}

.contactinfo li em {
    font-size: 1.8rem;
    padding-left: 0.2rem;
}

.contactinfo li a {
    font-size: 1.8rem;
    color: black;
    text-decoration: none;
    padding-left: 0.2rem;
}

.contactinfo li a:hover {
    opacity: .33;
}

.reveal {
    animation: 
        fade 2s
        ease-in
        1 forwards;
}

.disappear {
    animation:
        fadeout 2s
        ease-out
        1 forwards;
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.textbox {
    text-align: left;
}

.darkA {
    font-size: 2.5rem;
    text-decoration: none;
    color: black;
}

.darkA:hover {
    color: #18FFFF;
}

.darkA:active {
    color: #003737;
}

.dark {
    color: black;
}