* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  --primary-color: #263238;
  --primary-light: #4f5b62;
  --primary-dark: #000a12;
  --secondary-color: #ffb300;
  --secondary-light: #FFFF6b;
  --secondary-dark: #C5A600;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Source Sans Pro";
  background-color: var(--primary-dark);
  height: 100%;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow: auto;
}

.hidden {
  display: none;
}

header {
  padding: 2rem;
  background-color: var(--primary-color);
  flex: 0 1 auto;
}

header > div.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 98vw;
}

.logo {
  margin-bottom: 0;
  padding: 0.1rem 0.1rem 0.1rem 0.75rem;
}

.logo a {
  text-decoration: none;
  color: white;
  font-size: 3.5rem;
}

.nav {
  display: flex;
  align-items: baseline;
}

header nav ul {
  padding: 0.5rem 0 0.1rem 0;
  margin: 0;
  clear: left;
  display: block;
  text-align: right;
}

header nav li {
  list-style-type: none;
  display: inline-block;
  padding-right: 1.5rem;
}

.secondary {
  color: var(--secondary-color);
  font-size: 1.8rem;
}

header nav li a {
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}

.content {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: var(--primary-dark);
  flex: 1 1 auto;
  overflow: hidden;
}

.testdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  height: var(--length);
  width: var(--length);
  border-radius: var(--length);
  animation: bounce var(--duration) 1 both var(--cb), fade 2s ease 7.5s reverse 1 forwards;
}

.W {
  --bounce-offset: -295px;
  --length: 14rem;
  --duration: 5s;
  --cb: cubic-bezier(.2, .65, .6, 1);
}

.E, .C {
  --bounce-offset: -300px;
  --length: 8rem;
  background-color: #18FFFF;
  padding-right: 0.3rem;
  padding-bottom: 0.5rem;
  animation: bounce2 var(--duration) 1 both cubic-bezier(0.3, 0.65, 0.9, 1), fade 2s ease 7.5s reverse 1 forwards;
}

.E {
  --duration: 4s;
}

.L, .M {
  --bounce-offset: -290px;
  --length: 11rem;
  background-color: #FF1744;
}

.L {
  --duration: 4s;
  --cb: cubic-bezier(.2, .65, .6, 1);
}

.C {
  --duration: 5s;
}

.M {
  --duration: 4.2s;
  --cb: cubic-bezier(.2, 1.2, .6, 1);
  padding-left: 0.2rem;
  padding-bottom: 0.3rem;
}

.O, .E2 {
  --bounce-offset: -300px;
  --length: 8rem;
  padding-bottom: 0.5rem;
  padding-right: 0.1rem;
}

.O {
  --duration: 2s;
  --cb: cubic-bezier(.2, .65, .6, 1);
}

.E2 {
  --duration: 5s;
  --cb: cubic-bezier(.2, .65, .2, 1);
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(var(--bounce-offset));
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(var(--bounce-offset));
  }
}
@-webkit-keyframes bounce2 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-510px);
  }
  100% {
    transform: translateY(var(--bounce-offset));
  }
}
@keyframes bounce2 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-510px);
  }
  100% {
    transform: translateY(var(--bounce-offset));
  }
}
.welcometext {
  opacity: 0;
  -webkit-animation: fade 3s ease 4s 1 forwards;
          animation: fade 3s ease 4s 1 forwards;
}

.big {
  font-size: 12rem;
}

.small {
  font-size: 6rem;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.headline {
  display: none;
  opacity: 0;
  -webkit-animation: fade 3s ease 1 forwards;
          animation: fade 3s ease 1 forwards;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 95%;
  min-width: 45%;
  padding: 1rem;
}

.textbar {
  display: none;
  opacity: 0;
  -webkit-animation: fade 3s ease 1 forwards;
          animation: fade 3s ease 1 forwards;
  min-height: 100%;
  min-width: 50%;
}

.textbox {
  max-width: 80%;
}

h1 {
  color: white;
  font-size: 7rem;
  position: relative;
  left: 18rem;
  top: 3rem;
}

h2 {
  color: white;
  font-size: 5rem;
}

.is {
  font-size: 5rem;
  position: relative;
  left: 10rem;
  top: 1.5rem;
}

p {
  color: white;
  font-size: 2.5rem;
  border-style: none solid solid none;
  border-color: var(--secondary-color);
  border-width: 1px;
  padding: 0.5rem;
}

.homep {
  position: relative;
  top: 34rem;
}

.inlinea {
  font-size: 2.5rem;
  color: white;
  text-decoration: none;
}

.dot {
  color: var(--secondary-color);
}

.logo .dot {
  font-size: 3.5rem;
}

.header .dot {
  font-size: 7rem;
}

a:hover {
  color: #18FFFF;
}

a:active {
  color: #003737;
}

.about {
  display: flex;
}

.secsquare {
  width: 80%;
  height: 55%;
  background-color: var(--secondary-color);
  position: relative;
  right: 50%;
  bottom: 60%;
}

.redsquare {
  position: relative;
  background-color: #FF1744;
  width: 40%;
  height: 80%;
}

.footer {
  display: flex;
  padding-top: 1rem;
  height: 2rem;
  background-color: var(--primary-color);
  flex: 0 1 40px;
}

.footer span {
  font-size: 1.3rem;
  color: white;
  padding-left: 1rem;
  padding-right: 0.5rem;
}

.footer a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}

.footer a:hover {
  color: var(--secondary-color);
}

.footer a:active {
  color: var(--secondary-dark);
}/*# sourceMappingURL=style.css.map */